.macbookAir1Child {
  position: absolute;
  top: 32px;
  left: -567px;
  border-radius: 50%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(219, 0, 255, 0.52),
    rgba(217, 217, 217, 0)
  );
  width: 1648px;
  height: 1648px;
}
.macbookAir1Item {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(113.09deg, #8a008d, #3c29b1);
  width: 2191px;
  height: 832px;
}
.manageAllYour {
  margin: 0;
}
.manageAllYourContainer {
  position: absolute;
  top: 329px;
  left: 124px;
  font-size: var(--font-size-55xl);
  line-height: 100.5%;
  font-weight: 600;
  display: inline-block;
  width: 918px;
  height: 237px;
}
.zIndianDay274Icon {
  position: absolute;
  top: 693px;
  left: 583px;
  width: 697px;
  height: 958px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.macbookAir1Inner {
  position: absolute;
  top: 328px;
  left: 56px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-200);
  width: 7px;
  height: 173px;
}
.go {
  background: linear-gradient(105.64deg, #ffc700, #4aa800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about,
.home,
.logIn,
.pro,
.signUp,
.taskigo {
  position: absolute;
  line-height: 100.5%;
  display: inline-block;
}
.taskigo {
  top: 26px;
  left: 36px;
  font-size: var(--font-size-12xl);
  font-weight: 600;
  width: 194px;
  height: 39px;
}
.about,
.home,
.logIn,
.pro,
.signUp {
  top: 31px;
  left: 710px;
  width: 88px;
  height: 28px;
}
.about,
.logIn,
.pro,
.signUp {
  left: 819px;
  font-weight: 600;
}
.logIn,
.pro,
.signUp {
  left: 938px;
}
.logIn,
.signUp {
  left: 1026px;
}
.signUp {
  left: 1144px;
}
.rectangleDiv {
  position: absolute;
  top: 543px;
  left: 133px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-100);
  width: 357px;
  height: 46px;
}
.createANew {
  top: 555px;
  left: 161px;
  background: linear-gradient(91.75deg, #8a008d, #170058);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.createANew,
.createANew1,
.div {
  position: absolute;
  line-height: 100.5%;
  font-weight: 600;
}
.div {
  top: 551px;
  left: 451px;
  font-size: var(--font-size-12xl);
  background: linear-gradient(91.75deg, #8a008d, #170058);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.createANew1 {
  top: 908px;
  left: 56px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  display: inline-block;
  width: 390px;
  height: 78px;
}
.ellipseDiv {
  position: absolute;
  top: 1259px;
  left: -94px;
  border-radius: 50%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(138, 0, 141, 0.13),
    rgba(217, 217, 217, 0)
  );
  width: 596px;
  height: 116px;
}
.macbookAir1Child1,
.macbookAir1Child2 {
  position: absolute;
  top: 986px;
  left: 57px;
  width: 321px;
}
.macbookAir1Child1 {
  border-radius: var(--br-24xl);
  background-color: var(--color-white);
  height: 327px;
}
.macbookAir1Child2 {
  border-radius: var(--br-24xl) var(--br-24xl) var(--br-11xl) var(--br-11xl);
  background: linear-gradient(115.26deg, #8a008d, #170058);
  height: 124px;
}
.homework,
.loremIpsumDo {
  position: absolute;
  top: 1165px;
  left: 75px;
  font-size: var(--font-size-base);
  line-height: 100.5%;
  color: var(--color-black);
  display: inline-block;
  width: 274px;
  height: 171px;
}
.homework {
  top: 1130px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  width: 257px;
  height: 53px;
}
.rectangleA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 903px;
  left: 1085px;
  border-radius: var(--br-xl);
  width: 140px;
  height: 43px;
}
.span {
  background: linear-gradient(180deg, #8a008d, #000, #8a008d 0.01%, #170058);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div1 {
  top: 912px;
  left: 1100px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  width: 193px;
  height: 65px;
  color: var(--color-black);
}
.add,
.div1,
.div2 {
  position: absolute;
  line-height: 100.5%;
  font-weight: 600;
}
.add {
  cursor: pointer;
  text-decoration: none;
  top: 913px;
  left: 1137px;
  color: var(--color-black);
  display: inline-block;
  width: 60px;
  height: 20px;
}
.div2 {
  top: 1020px;
  left: 270px;
  font-size: 51px;
  color: rgba(255, 255, 255, 0.46);
}
.macbookAir1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1651px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
